run_client.sh
run_server.sh
DivyaDrishti-AI-Powered-Real-Time-Object-Detection-for-the-Visually-Impaired.pptx
Model Demo.mov
.gitignore
Model Workflow.png
confusion_matrix.png
EPICS Final Report.pdf
error_log.txt
f1_per_class.png
Model Demo 2.mov
currency_split
__pycache__/
*.pt
.vscode